.container {
  position: static;
  width: 50vw;
  min-height: 1.5rem;
  margin: 70px auto;
  padding-top: 15px;
  background-color: #070707;

}
.message {
  font-size: .75rem;
  text-transform: uppercase;
}