.container {
display: flex;
// flex-wrap: nowrap;
justify-content: center;
padding: 10px 0;
background-color: #949494;
box-shadow: 0px 15px 16px 2px #292929;
}
.link {
  // flex: 1;
  text-decoration: none;
  color: brown;
  font-size: .95rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 15px;
  transition: .3s ease-in-out;
  &:hover {
    color: yellow;
  }
  & span {
    font-size: 1.2rem;
  }
}
.active{
  font-weight: bold;
  color: green;
  background-color: pink;
}