.container {
display: flex;
// flex-wrap: nowrap;
justify-content: center;
padding: 10px 0;
background-color: #949494;
box-shadow: 0px 15px 16px 2px #292929;
}
.link {
  // flex: 1;
  text-decoration: none;
  color: #b40303;
  font-size: .95rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 15px;
  transition: .2s ease-in-out;
  &:hover {
    color: #fafa1a;
  }
  & span {
    font-size: 1.3rem;
  }
}
.active{
  font-size: 1.1rem;
  position: relative;
  color: lighten(#b40303,10%);
  }
