.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.6rem;
  margin: 5px 0 15px;
  img {
    // margin-left: 15px;
    height: 0.85rem;
    width: 0.85rem;
    flex:0;

  }
}

.duration {
  margin-left: 5px;
  line-height: 1.7;
}
