.wrapper {
  display: flex;
  justify-content: space-around;

}
.container {
  display: flex;
  flex-direction: column;

  // justify-content: space-between;
  // margin: 0 30px;
  // align-items: flex-end;
  p {
    margin: 0;
  }
}
.seancesContainer {
  display: flex;
  flex-wrap: wrap;
  // margin: 0 30px;
}

.activeSeance {
  background-color: rgb(167, 164, 164);
  color: black;
}.alertBookingContainer {
  // padding: 5px;
  position: static;
  min-height: 1.5rem;
  margin: 20px 0;
  padding-top: 15px;
  background-color: #070707;

}
.alertBookingMessage {
  font-size: .75rem;
  text-transform: uppercase;
  // display: block;
}

.buttonConfirmBooking {
  color:#056422;

  &:hover {
    color: #1b1b1b;
    background-color: #07832e;
    text-shadow:1px 1px 1px rgb(7, 155, 52);
  }
}