.container {
  display: flex;
  justify-content: space-between;
}
.seancesContainer {
  display: flex;
}
.activeSeance {
  background-color: rgb(167, 164, 164);
  color: black;
}.alertBooking {
  // padding: 5px;
  // position: absolute;
  // display: flex;
  top: 80px;
  left: 10px;
  // border-radius: 4px;
  // line-height: 1.5;
  // min-width: 150px;
  // margin: 0;
  // background-color: #2e302d;
}