.wrapper {
  display: flex;
  justify-content: space-around;

}
.container {
  display: flex;
  flex-direction: column;
  font-size: .85rem;
  p, label {
    margin: 0;
    height: 1.5rem;
    text-align: center;
  }

}
.seancesContainer {
  display: flex;
  flex-wrap: wrap;
}

.activeSeance {
  background-color: rgb(167, 164, 164);
  color: black;
}
.alertBookingContainer {
  position: static;
  min-height: 1.5rem;
  margin: 20px 0;
  padding-top: 15px;
  background-color: #070707;

}
.alertBookingMessage {
  font-size: .75rem;
  text-transform: uppercase;
}
input{
  background-color: #ccc;
  padding: 5px;
  margin: 0 auto;
  border-width: 0px;
  border-radius: 2px;
  width: 50%;
}

.buttonConfirmBookingContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;

  .buttonConfirmBooking {
    color:#056422;

    &:hover {
      color: #1b1b1b;
      background-color: #07832e;
      text-shadow:1px 1px 1px rgb(7, 155, 52);
    }
  }

}

