.container {
  display: flex;
  max-width: 1250px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 35px auto;
}
.alertBookingContainer {
  position: static;
  width: 50vw;
  min-height: 1.5rem;
  margin: 70px auto;
  padding-top: 15px;
  background-color: #070707;

}
.alertBookingMessage {
  font-size: .75rem;
  text-transform: uppercase;
}